# All directories should end in / (information used by ide.gradle)
tmp/
.DS_Store

# Ant
ant/

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iws
*.ipr
*.iml
out/
.idea/

# vim
*.swp

# Android
local.properties

# Android Studio 1.0.1
gen/

