<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RoboSpock - awesome Android Unit Testing</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--&lt;!&ndash; You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) &ndash;&gt;-->
            <!--<a class="navbar-brand" href="index.html">Modern Business</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="about.html">About</a></li>-->
                <!--<li><a href="services.html">Services</a></li>-->
                <!--<li><a href="contact.php">Contact</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="portfolio-1-col.html">1 Column Portfolio</a></li>-->
                        <!--<li><a href="portfolio-2-col.html">2 Column Portfolio</a></li>-->
                        <!--<li><a href="portfolio-3-col.html">3 Column Portfolio</a></li>-->
                        <!--<li><a href="portfolio-4-col.html">4 Column Portfolio</a></li>-->
                        <!--<li><a href="portfolio-item.html">Single Portfolio Item</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="blog-home-1.html">Blog Home 1</a></li>-->
                        <!--<li><a href="blog-home-2.html">Blog Home 2</a></li>-->
                        <!--<li><a href="blog-post.html">Blog Post</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="full-width.html">Full Width Page</a></li>-->
                        <!--<li><a href="sidebar.html">Sidebar Page</a></li>-->
                        <!--<li><a href="faq.html">FAQ</a></li>-->
                        <!--<li><a href="404.html">404</a></li>-->
                        <!--<li><a href="pricing.html">Pricing Table</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->

{{ content }}

<a href="https://github.com/Polidea/RoboSpock/">
    <img style="position: absolute; top: 0; right: 0; border: 0;" 
        src="https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" 
        alt="Fork me on GitHub" 
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
</a>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-45012184-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>

</body>
</html>
